<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receiving Gifts</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
     <!-- 🌸 Background Music -->
<audio id="bg-music" autoplay loop>
  <source src="{{ url_for('static', filename='music/gift.mp3') }}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

  <div class="gift-container">
    <h1>Gifts 🎁</h1>
    <img src="{{ url_for('static', filename='images/gift.gif') }}" alt="Gift" class="gift-img">
    <p class="gift-description">On Delivery ✨</p>
    <a href="{{ url_for('month1') }}" class="back">Back</a>
  </div>
</body>
</html>
