<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Physical Touch - Love Language</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
  <div class="physical-container">
    <h1>Tickets 💞</h1>
    <p>Redeem your tickets anytime you want 💌</p>

    <div class="ticket-gallery">
      <img src="{{ url_for('static', filename='images/tick1.jpg') }}" alt="Ticket 1" class="ticket-img">
      <img src="{{ url_for('static', filename='images/tick2.jpg') }}" alt="Ticket 2" class="ticket-img">
      <img src="{{ url_for('static', filename='images/tick3.jpg') }}" alt="Ticket 3" class="ticket-img">
    </div>

    <p class="ticket-caption">Each ticket lets you ask me anything you want 💖</p>

    <a href="{{ url_for('month1') }}" class="back"> Back </a>


  </div>
</body>
</html>
